{
  "$schema": "https://opencode.ai/config.json",
  {{ if (default false .work) -}}
  {{- end }}
  "default_agent": "chat",
  "permission": {
    "*": "ask",
    "doom_loop": "deny",
    "glob": "allow",
    "list": "allow",
    "lsp": "allow",
    "read": "allow",
    "todoread": "allow",
    "todowrite": "allow"
  },
  "provider": {
    {{ if (default false .work) -}}
    {{- end }}
  }
}
