{
  "$schema": "https://opencode.ai/config.json",
  {{ if (default false .work) -}}
  {{- end }}
  "default_agent": "chat",
  "permission": {
    "*": "ask",
    "doom_loop": "deny",
    "glob": "allow",
    "list": "allow",
    "lsp": "allow",
    "read": "allow",
    "todoread": "allow",
    "todowrite": "allow"
  },
  "provider": {
    {{ if (default false .work) -}}
    "portkey": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Portkey",
      "options": {
        "baseURL": "https://api.portkey.ai/v1",
        "headers": {
          "x-portkey-api-key": "{{ onepasswordRead "op://Employee/Portkey/credential" }}"
        }
      },
      "models": {
        "@azure-openai-eus2-global/gpt-5.5-dzs": {
          "name": "gpt-5.5"
        },
        "@gcp-vertexai-us-global-integration/gemini-3.5-flash": {
          "name": "gemini-3.5-flash"
        },
        "@bedrock-global/us.anthropic.claude-opus-4-8": {
          "name": "claude-opus-4.8"
        },
        "@bedrock-global/us.anthropic.claude-opus-4-7" : {
          "name": "claude-opus-4.7"
        },
        "@bedrock-global/us.anthropic.claude-opus-4-6-v1": {
          "name": "claude-opus-4.6"
        },
        "@bedrock-global/us.anthropic.claude-sonnet-4-6": {
          "name": "claude-sonnet-4.6"
        },
        "@bedrock-global/us.anthropic.claude-haiku-4-5-20251001-v1:0": {
          "name": "claude-haiku-4.5"
        },
      }
    }
  {{- end }}
  }
}
